services:
  - type: web
    name: it-ticket-severity-calculator
    env: docker
    region: oregon
    plan: free
    branch: main
    dockerfilePath: ./Dockerfile
    dockerContext: .
    envVars:
      - key: PORT
        value: 8000
    healthCheckPath: /health
    autoDeploy: true
